In [1]:
import pandas as pd

In [2]:
 #* PTS EQUIPOS JORNADAS:
def pts_equipos2():
    palop = int(input('Pts Palop: '))
    lope = int(input('Pts Lope: '))
    ruso = int(input('Pts Ruso: '))
    papu = int(input('Pts Papu: ')) 
    gonzo = int(input('Pts Gonzo: '))
    diego = int(input('Pts Diego: '))
    kero = int(input('Pts Kero: ')) 
    armada = int(input('Pts Armada: '))

    return palop, lope, ruso, papu, gonzo, diego, kero, armada

In [3]:
clasificados = [[0, 'ARMADA', 'PAPU', 0, '||', 0, 'PUCHE', 'KERO', 0], [0, 'GONZO', 'PALOP', 0, '||', 0, 'LOPE', 'RUSO', 0]]

columnas = ['PTOS LA', 'LOCAL A', 'VISITANTE A', 'PTOS VA', '||', 'PTOS LB', 'LOCAL B',  'VISITANTE B', 'PTOS VB']
cuartos = pd.DataFrame(data= clasificados, index=[1,2], columns=columnas)
cuartos

,PTOS LA,LOCAL A,VISITANTE A,PTOS VA,||,PTOS LB,LOCAL B,VISITANTE B,PTOS VB
1,0,ARMADA,PAPU,0,||,0,PUCHE,KERO,0
2,0,GONZO,PALOP,0,||,0,LOPE,RUSO,0

In [4]:
cuartos.to_excel('data/cuartos.xlsx')

In [ ]:
 #!VOY POR AQUI CUANDO SE JUEGUE LA JORNADA 20 AÃ‘ADIR LOS PUNTOS A LOS EQUIPOS
palop, lope, ruso, papu, gonzo, puche, kero, armada = pts_equipos2()
resultados = {
    'Lope': lope, 'Palop': palop, 'Kero': kero, 'Ruso': ruso, 'Puche': puche, 'Armada': armada, 'Papu': papu, 'Gonzo': gonzo
}

resultados